.pass {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pass-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    color: var(--black);

}

.pass .content {
    flex: 1 1 41rem;
    padding: 3rem;
    box-shadow: var(--box-shadow);
}

.pass .content form {
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 2rem;
    margin: 0 2rem;
    max-width: 100%;
    margin-right: 0rem;
    position: relative;
}

.pass .content form .box {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    background-color: var(--white);
    padding: .8rem 1.4rem;
    font-size: 1.7rem;
    color: var(--black);
    text-transform: none;
}


.pass .content form span {
    font-size: 1.5rem;
    color: var(--black);
}

.pass .content form .form-footer .pass-btn {
    margin-top: 1rem;
    background: var(--black);
    display: inline-block;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;

}

.pass .content form .form-footer .pass-btn:hover {
    background: var(--main-color);
}

.pass .content form .form-footer a {
    font-weight: 600;
    margin-left: .5rem;
    color: var(--main-color);

}

.pass .content form .form-footer a:hover {
    color: #0000EE;
    background-color: transparent;
    text-decoration: underline;

}

.row {
    display: flex;
}

.form-group {
    margin: 10px 5px;
    flex: 1;
}


.pass .content form .form-group input {
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}

.pass .content form .form-group input:focus {
    background: var(--black);
    color: var(--white);
}

.pass .content form .form-group input:focus::placeholder {
    color: var(--light-white);
}

.pass .content form .form-group select {
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}

.pass .content form .form-group select:focus {
    background: var(--black);
    color: var(--white);
}

.message {
    color: red;
    text-align: center;
    font-size: 1.5rem;
}